@keyframes wave-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.container {
    padding-top:20px;
}

.containert {
    padding-top:30px;
    padding-bottom: 20px;
}

.wave-effect {
    position: relative;
    overflow: hidden;
    animation: wave-animation 3.5s infinite;
    transform-origin: center;
}

.wave-effect::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.wave-effect:hover::after {
    opacity: 1;
    animation-play-state: paused;
}

hr {
    border: none;
    height: 3px;
    background-color: #000000;
}

.pilihan {
    display:none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake-card {
    animation: shake 0.4s;
}

.errorKunjungan {
    color: red; margin-top: 5px;
}

.warningMessage {
    color: red; margin-top: 5px;
}

.toggle-ranap {
    display: none;
}

.toggle-rajal {
    display: none;
}

.toggle-igd {
    display: none;
}

.diagnosa-results {
    position: absolute;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #ced4da;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
  }

  .diagnosa-results .list-group-item {
    cursor: pointer;
  }

  .diagnosa-results .list-group-item:hover {
    background-color: #f8f9fa;
  }

  .diagnosa-results {
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .imagepreview {
    width: 100%;
  }

  .m-2 {
    color: red; margin-top: 5px;
  }